<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vendor_CustomOrderProcessing::status_logs" title="Order Status Logs" translate="title" module="Vendor_CustomOrderProcessing" sortOrder="50" parent="Magento_Sales::sales_operation" action="customorderprocessing/statuslog/index" resource="Vendor_CustomOrderProcessing::status_logs"/>
    </menu>
</config>
